<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BankingBillah">

	<listeners>
		<listener class-name= "com.BankingBillah.Utilities.Reporting" ></listener>
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.BankingBillah.TestCase.TC_LoginTest_001" />
			<class name="com.BankingBillah.TestCase.TC_LoginDDT_002" />
			<class name="com.BankingBillah.TestCase.TC_AddCustomerTest_003" /> -->
			<!--  <class name="com.BankingBillah.TestCase.TC_EditCustomerTest_004" /> -->
			<class name="com.BankingBillah.TestCase.TC_LinkedinStatusTest_001" />

		</classes>

	</test>

</suite>